# My R notebook
## Load library

In [7]:
library(DESeq2)

## Read data

In [8]:
cts <- read.table("counts.txt", sep="\t",row.names=1)
colnames(cts) = c(paste0("condition1_",1:3),paste0("condition2_",1:3))
head(cts)

              condition1_1 condition1_2 condition1_3 condition2_1 condition2_2
ostta01g00010 11           10           10            1            4
ostta01g00020  3            7           10            6            7
ostta01g00030  0            1            1            2            0
ostta01g00040 20           13           17           23           16
ostta01g00050  5           18            8           12           13
ostta01g00060  4            2            4            5            2
              condition2_3
ostta01g00010  7
ostta01g00020  5
ostta01g00030  2
ostta01g00040 12
ostta01g00050 11
ostta01g00060  7

## Experimental data preparation

In [6]:
coldata = cbind.data.frame(condition= c(rep("condition1", 3),rep("condition2", 3)))
rownames(coldata) = c(paste0("condition1_",1:3),paste0("condition2_",1:3))
head(coldata)

             condition
condition1_1 condition1
condition1_2 condition1
condition1_3 condition1
condition2_1 condition2
condition2_2 condition2
condition2_3 condition2

## Deseq2

In [ ]:
dds <- DESeqDataSetFromMatrix(countData = cts,
                              colData = coldata ,
                              design= ~ condition)
dds <- DESeq(dds)
resultsNames(dds) # lists the coefficients

## Get results

In [ ]:
res <- results(dds, name="condition_condition2_vs_condition1")
res

## Display results

In [ ]:
plotMA(res, ylim=c(-2,2))

## Export plot

In [ ]:
png(file = "deseq2_demo.png", width = 800, height = 700)
plotMA(res, ylim=c(-2,2))
dev.off()

## Export Data

In [ ]:
write.table(res,"deseq2_demo.tsv", quote=F, sep="\t", col.names=T)